<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">
      <p>Enter your phrase: <input name="user_phrase" type="text">
        <input type="submit" value="submit">
      </form>

  </body>
</html>
